<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./style.css" />
    <title>Creative Project 3</title>
  </head>
  <body>


    <div id="app">

      <div class="header">
        <h1 class="title"> Trails near: {{geoLocation}} </h1>

        <form v-on:submit.prevent="getLongLat" class="input">

          <input type="text" v-model="geoLocation" placeholder="Location" id="searchBar">
          <button type="submit" id="searchButton">Search</button>

        </form>
      </div>

      <!-- Container sets the area for Flexbox items.
      the vfor is to make a new item for each ovject.
      the Item is the CSS for each item
      the header addes the background box -->

      <div class="container">
        <div v-for="hike in hikes">
          <div class="item">
            <div class="header">

              <a :href="hike.url"><h3 class="item"> {{hike.name}} </h3></a>
              <sup class="item" style="padding-top:0px; padding-bottom:0px;"><i>Located in: {{hike.location}}</i></sup>
              <br>
              <sup class="item" style="padding-top:0px; padding-bottom:0px;"><i>Hike duration: {{hike.length}} miles</i></sup>
              <br>
              <sup class="item" style="padding-top:0px; padding-bottom:0px;"><i>Elevation Gain: {{hike.ascent}} ft</i></sup>
              <br>
              <sup class="item" style="padding-top:0px; padding-bottom:0px;"><i>Trail Conditions: {{hike.conditionDetails}}</i></sup>
              <div  v-if="hike.imgMedium != ''"  class="item">
                  <img :src="hike.imgMedium" alt="hike image" class="item" style="width: 320px; height: 300px; padding: 0px;">
              </div>
              <p class="item"> {{hike.summary}} </p>

            </div>
          </div>
        </div>
      </div>
      <br>

      <div id="footer">
          Source code by Justin Kinsella and Devon Ward can found at : <a href="https://github.com/devoncward/creativeProject3" style="padding-right: 5px;">github</a>
          <a href="https://www.hikingproject.com/"><img src="./images/HikingProject.svg" alt="HikingProject.com" style="height: 18px; padding-right:5px;"></a>
          <a href="https://openweathermap.org/"><img src="./images/logo_OpenWeatherMap_orange.svg" alt="OpenWeatherMap.org" style="height: 18px;"></a>
          <a href="https://unsplash.com/developers"><img src="./images/unsplash.svg" alt="Unsplash.com" style="height: 18px; padding-left: 5px;"></a>
      </div>

  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
