body {
    background: url("https://source.unsplash.com/1600x900/?hiking");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;


}

.item {
    flex-grow: 1;
    padding: 15px;
    max-width: 350px;
}

.header {
    background-color: rgb(255, 255, 255, 0.6);
    border-style: solid;
    border: 2px #464646;
    padding-bottom: 10px;
}


.title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-grow: 1;
}

.input {
    display: flex;
    justify-content: space-between;
    flex-grow: 4;
    padding: 15px;
}

#searchButton {
    width: 20%;
    padding: 10px;
    background: rgb(33, 150, 243, 0.6);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
#searchButton:hover {
    background: #0b7dda;
}
#searchBar {

    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: rgb(241, 241, 241, 0.9);
}

a:link {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: rgb(85, 158, 118);
    border-radius: 10px;
    text-decoration: none;
}
a:visited {
    color: rgb(17, 66, 107);
    text-decoration: none;
}
a:active{
    color: #0b7dda;
}
#footer {

    position: fixed;
    bottom: 0;
    background: #5a5959;
    color: #f3f1f1;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10px; 
}
